<h1>Listing phones</h1>

<% if @phone %>

  <table>
    <tr>
      <th>Number</th>
      <th>Credit</th>
    </tr>
    <tr>
      <td><%= @phone.number %></td>
      <td><%= @phone.credit %></td>
    </tr>
  </table>

<% else %>

  <%= link_to 'Add your Phone', new_phone_path %>

<% end %>

<br />